<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>
        Create a new account
    </title>
  </head>
  <body>
    <div class="container">
      <h2 style="text-align: center; color: black;">Create a new account</h2>
      <div style="text-align: center; color: blue;" *ngIf="confirm_msg.length == 0">Fill out the following fields to create your account!</div>
      <div style="text-align: center; color: #ff8c00;" *ngIf="confirm_msg.length > 0">Check below for your next steps!</div>
      <br/>
      <form #signUp="ngForm" (ngSubmit)="onSubmit(signUp.value)">
        <div class="row">
          <div class = "column">
              &nbsp;
          </div>
          <div class = "column" style="text-align: center;">
            <div class="row" >
              <div class="column" style="width:50%; text-align: right;">
                <div style="color: black;">Username:</div>
              </div>
              <div class="column" style="width:50%; text-align: left;">
                <div style="color: black;"><input type="text" id="username" name="username" [(ngModel)]="signUpModel.username" placeholder="Username" required></div>
              </div>
            </div>
            <div class="row">
              <div class="column" style="width:50%; text-align: right;">
                <div style = "color: black;">Password:</div>
              </div>
              <div class="column" style="width:50%; text-align: left;">
                <div style = "color: black;"><input type="password" name="pwd" id="password" [(ngModel)]="signUpModel.password" placeholder="Password" required></div>
              </div>
            </div>
            <div class="row">
              <div class="column" style="width:50%; text-align: right;">
                <div style = "color: black;">Re-Type Password:</div>
              </div>
              <div class="column" style="width:50%; text-align: left;">
                <div style = "color: black;"><input type="password" id="retypePass" name="password2" [(ngModel)]="signUpModel.passwordretype" placeholder="Password" required></div>
              </div>
            </div>
                <input type="submit" id="submit" value="Create Account" (click)="confirmSignUp(signUp.value)">
            </div>
        </div>
      </form>
    </div>
        
    <br/>
    <div class="container">
        <div class="row">
            <div class="column">
                &nbsp;
            </div>
            <div class="column" style="text-align: center; color: black;">
                Already have an account? <a href="http://localhost/inclass7/project/todo/signInPage.php" [ngClass]="'hover-signin'">Sign in here.</a>
            </div>
        </div>
    </div>

    <br/>
  <div [style.font-style]="'italic'" [style.text-align]="'center'" [ngSwitch]="responsedata">
    <div *ngSwitchCase="'Account successfully created. Click here to log in with your new account!'" ><a href="http://localhost/inclass7/project/todo/home.php" style="color: green;">{{ (confirm_msg.length > 0)? (responsedata) : '' }}</a></div>
    <div *ngSwitchCase="'Username and password must both be more than 5 characters long.'" style="color: #ff8c00;">{{ (confirm_msg.length > 0)? (responsedata) : '' }}</div>
    <div *ngSwitchCase="'Username is already taken. Please enter a different one.'" style="color: blue;">{{ (confirm_msg.length > 0)? (responsedata) : '' }}</div>
  </div>

  </body>
